:root {
    --moncarch_blue: #003057;
    --silver_reign: #828A8F;
    --sky_blue:      #98C5EA;
    --carrier_metal: #404A5A;
    --midnight: #0A192D;
    --coastal_storm: #ACAAB4;
    --azure: #4248DD;
    --denim: #3658AD;
    --auminium: #E1EAF0;
    --barry_blue: #729BE6;
    --vanilla_icecream_cake: #FFFFFF;
    --evening_breeze: #63B9D6;
  }