#div-right-vert {
    vertical-align: middle;
    width: 50%;
}

#div-left-vert {
    vertical-align: middle;
    width: 50%;
}

.divFormDivider{
    min-height: 30px;
}

#user-logo {
    height: 80px;
    width: auto;
}

#div-account-info-styled {
        align-items: top;
        border-bottom: 1px solid #dadde1;
        display: flex;
        margin: 3px 10%;
        text-align: center;
}

#div-pic-account-info {
    text-align:center;
    display: flex;
    padding-right: 100px;
}

#div-menu {
    background-color: var(--vanilla_icecream_cake);
    min-height: 100%;
    width: 80%;
    border: 2px solid var(--silver_reign);
    border-radius: 10px;
}